
/* ========   MOBILE-FIRST GRID LAYOUT   ======= */

.calendar-grid {
  display: grid;
  width: 96%;
  max-width: 900px;
  margin: 2% auto;

  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: auto;
  grid-gap: 25px;

  grid-template-areas:    "title    title     title"
                          "day23    day20     day12"
                          "day2     day14     day4"
                          "day5     day22     day16"
                          "day1     day7      day9"
                          "day10    day11     day18"
                          "day13    day3      day15"
                          "day6     day17     day8"
                          "day19    day24     day21";
}

/* =======    MEDIA QUERY -- DESKTOP LAYOUT  =======  */

@media only screen and (min-width: 500px) {
  .calendar-grid {
    grid-template-columns: repeat(6, 1fr);
    grid-template-areas:    "title      title     title     day2      day7      day8"
                            "title      title     title     day4      day11     day12"
                            "title      title     title     day19     day9      day13"
                            "day6       day1      day24     day24     day21     day20"
                            "day17      day18     day24     day24     day5      day22"
                            "day3       day23     day16     day14     day10     day15";
  }
}

section div {
  background: #2e313d;
}

/* =======    INDIVIDUAL GRID ITEMS   =======  */

.title {
  grid-area: title;
}

.day1 {
  grid-area: day1;
}
.day2 {
  grid-area: day2;
}
.day3 {
  grid-area: day3;
}
.day4 {
  grid-area: day4;
}
.day5 {
  grid-area: day5;
}
.day6 {
  grid-area: day6;
}
.day7 {
  grid-area: day7;
}
.day8 {
  grid-area: day8;
}
.day9 {
  grid-area: day9;
}
.day10 {
  grid-area: day10;
}
.day11 {
  grid-area: day11;
}
.day12 {
  grid-area: day12;
}
.day13 {
  grid-area: day13;
}
.day14 {
  grid-area: day14;
}
.day15 {
  grid-area: day15;
}
.day16 {
  grid-area: day16;
}
.day17 {
  grid-area: day17;
}
.day18 {
  grid-area: day18;
}
.day19 {
  grid-area: day19;
}
.day20 {
  grid-area: day20;
}
.day21 {
  grid-area: day21;
}
.day22 {
  grid-area: day22;
}
.day23 {
  grid-area: day23;
}
.day24 {
  grid-area: day24;
}

/* =======    DOOR STYLES   =======  */

.calendar-grid input {
  display: none;
}

label {
  perspective: 1000px;
  transform-style: preserve-3d;
  cursor: pointer;

  display: flex;
  min-height: 100%;
  width: 100%;
  height: 120px;
}

.door {
  width: 100%;
  transform-style: preserve-3d;
  transition: all 300ms;
  border: 2px dashed transparent;
}

.door div {
   position: absolute;
   height: 100%;
   width: 100%;
   backface-visibility: hidden;
   -webkit-backface-visibility: hidden;

   display: flex;
   align-items: center;
   justify-content: center;
 }

 .door .back {
   background-color: #2e313d;
   transform: rotateY(180deg);
 }
